h1 {
color: black;
font-weight: bolder;

}

h2 {
color: black;
font-weight: bold;

}

p {
color: rgb(94, 91, 91);


}
body {
    padding: 0px;
    margin: 0.5in;
  }
  
  #map,
  body,
  html {
    height: 100%;
  }
  
