<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cancer (Project 3)</title>
    <link href="style1.css" rel = "stylesheet">
    <script src="script1.js"></script>
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
</head>
<body>

<h1> About Cancer </h1>
   
  <section>
    <h2>Breast Cancer</h2>
    <p>SOMETHING HERE
    </p>
  </section>

  <section>
    <h2>Colon Cancer</h2>
    <p>SOMETHING HERE </p>
  </section>

  <section>
    <h2>Other Cancer</h2>
    <p>SOMETHING HERE</p>
  </section>

  <nav>
    <ul>
      <li><a href="cancerstats.html">Cancer Stats</a></li>
      <li><a href="screening.html">Find A Screening Center</a></li>
      <li><a href="cancerapp.html">Back to Home</a></li>
    </ul>
  </nav>

</body>
</html>