<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cancer (Project 3)</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../Datasets/avgdata.js"></script>
    
</head>
<body>

  <h1> Average Rate of Cancer in Each Province</h1>

  <div id="chart"></div>

  <script>

      var data = avgdata;

      var provinces = data.map(item => item.Province);
      var values = data.map(item => item.VALUE);

      var trace = {
          x: provinces,
          y: values,
          type: 'bar'
      };

      var layout = {
          title: 'Average Rate of Cancer per 100,000',
          xaxis: {
              title: 'Province',
          },
          yaxis: {
              title: 'Average Percentage per 100,000'
          }
      };

      Plotly.newPlot('chart', [trace], layout);
  </script>



  <nav>
    <ul>
      <li><a href="cancerstats.html">Cancer Stats</a></li>
      <li><a href="screening.html">Find A Screening Center</a></li>
      <li><a href="cancerapp.html">Back to Home</a></li>
    </ul>
  </nav>

</body>
</html>