<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cancer (Project 3)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/screeningstyle.css') }}">
    <script src="../static/css/screeningstyle.css"></script>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

  <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/screeningstyle.css">

</head>

<body>

<h1> Where In Ontario Can I Get Screening?
</h1>

  <p> Zoom and click to locate your nearest screening centre
  </p>

  <!-- The div where we'll insert our map -->
  <div id="map"></div>

 <!-- JavaScript file -->
 <script type="text/javascript" src="../static/js/screeningscript.js"></script>

<section>
    <h2>Go To Other Pages</h2>
    <p></p>
  </section>

  <nav>
    <ul>
      <li><a href="cancerrates.html">Rates of Cancer in Ontario</a></li>
      <li><a href="cancerstats.html">Cancer Stats</a></li>
      <li><a href="cancerapp.html">Back to Home</a></li>
    </ul>
  </nav>


</body>


</html>